<div class="title_carousel">
    <h2>Listas de canciones</h2>
   </div>
   <div class="container links">
    
    <div class="link-buttons">
        <a href="https://www.youtube.com/watch?v=VhinPd5RRJw&list=RDQMhemZIYPy0Nc&start_radio=1" target="_blank">
            <button mat-fab color="warn">
                <img src="icons/youtube.png" alt="YouTube">
            </button> 
            <p>YouTube</p>
        </a>
        <a href="https://open.spotify.com/intl-es/album/1kCHru7uhxBUdzkm4gzRQc?si=ZCiqyM2VQAC75MOuUUGJog" target="_blank">
            <button mat-fab color="primary">
                <img src="icons/spotify.png" alt="Spotify">
            </button>
            <p>Spotify</p>
        </a>
    </div>
</div>

